<!--The content below is only a placeholder and can be replaced.-->
<div>
  <ng-container *ngFor="let viaje of data">
  <div class= "container">
    <h1>Titulo:</h1> <h3>{{viaje.title}}</h3>
    <h1> Descripcion:</h1> <h3>{{viaje.description}}</h3>
    <h1>Fecha inicio:</h1> <h3>{{viaje.start_date}}</h3>
    <h1>Fecha termina:</h1> <h3>{{viaje.end_date}}</h3>
    <h1>Precio:</h1> <h3>{{viaje.price}}</h3>
    <h1>Imagen:</h1> <h3>{{viaje.imageBase64}}</h3>
    <h1>Subscriptores:</h1> <h3>{{viaje.suscriptors}}</h3>
    <h1>Numero de contacto:</h1> <h3>{{viaje.contact_number}}</h3>
  </div>
  </ng-container>
</div>



